.ui-order-lines {
  display: flex;
  flex-direction: row;
  column-gap: 4px;
  padding: 4px;
  background: #fbfbfb;
  border-radius: 6px;
  align-items: center;
}

.ui-labour-line {
  display: flex;
  flex-direction: row;
  column-gap: 4px;
  padding: 4px;
  background: #fbfbfb;
  border-radius: 6px;
  align-items: center;
}

.ui-part-line {
  display: flex;
  flex-direction: row;
  column-gap: 4px;
  padding: 4px;
  background: #fbfbfb;
  border-radius: 6px;
  align-items: center;
}
