@forward "./sections/Body.scss";
@forward "./sections/UIField.scss";
@forward "./sections/UIButton.scss";
@forward "./sections/UIFormContainer.scss";
@forward "./sections/UILabel.scss";
@forward "./sections/UISwitch.scss";
@forward "./sections/UIToolbar.scss";
@forward "./sections/UIShoppingList.scss";
.ui-app-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 8px;
}
